body {
  background-image: url("./assets/background.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.title {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.result-block-container {
  background-color: #ade8f4;
  border-radius: 10px;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

#planet-img {
  width: 30vw;
}

.input-block-container {
  background-color: #ade8f4;
  padding: 1.5rem;
  border-radius: 10px;
  margin: 1rem 0.6rem;
  display: flex;
  gap: 20px;
  justify-content: center;
}

#btn-calculate {
  border: none;
  background-color: #002021;
  color: #a8eff0;
  align-self: flex-end;
}

.input-items {
  border-radius: 90px;
  border: 0.01rem solid #002021;
  padding: 0.8rem 3rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: cover
  }
  .input-block-container {
    margin: 10px 0;
    padding: 10px 0;
  }
  .input-items {
    width: 90px;
    border-radius: 10px;
  }
  #mass {
    width: 50px;
  }
  #btn-calculate {
    width: 50px;
    font-size: 0.7rem;
    text-align: center;
  }
}
